<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{/layout/index1 :: dynamic(~{::main})}">
   
<body>
<main>
  <section id="Slider">
<div class="aspect-ratio-169">
	<img src="/assets/images/33.jpg">
	<img src="/assets/images/11.jpg">
	<img src="/assets/images/33.jpg">
	<img src="/assets/images/11.jpg">
	<img src="/assets/images/33.jpg">
</div>
<div class="dot-container">
	<div class="dot active"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>
</section> 

<section class="about section-pading">
	<div class="conteiner">
		<div class="row">
			<div class="section-title">
				<h2 data-title:="Câu chuyện">Về Chúng tôi</h2>
			</div>
		</div>
		<div class="row">
				<div class="about-item">
					<h2>Chào mừng các bạn đến với shop Lucky Man</h2>
					<p>Shop Thời Trang Online Love Tree với phương châm "Đồng hành cùng phong cách thời trang của bạn" sẽ là nơi mua sắm an toàn và uy tín, bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách những sản phẩm chất lượng nhất với giá cả luôn phải chăng.</p>
					<button class="btn">
						XEM MUNU
					</button>
				</div>
				<div class="about-item">
					<img src="/assets/images/aodai.jpg" alt="">
				</div>
		</div>
	</div>
</section>


<section class="phan-hoi section-pading">
	<div class="conteiner">
		<div class="row">
			<div class="section-title">
				<h2 data-title="Quản Lý">Cửa Hàng</h2>
			</div>
		</div>
		<div class="row">
			<div class="phan-hoi-items">
				<div class="phan-hoi-item" data-aos="fade-right" data-aos-duration="1500">
					<div class="phan-hoi-item-content">
						<div class="phan-hoi-item-img-content-text">
							<h2>Nguyễn Hoàng Tú</h2>
							<p>Giám Đốc</p>
						</div>
						<div class="phan-hoi-item-img-content-img">
							<a href="Duonghoaivan.html"><img src="/assets/images/Tu.jpg" alt=""></a>
						</div>
					</div>
					<p>Luật sư Dương Hoài Vân hiện tại đang giữ chức vụ Giám đốc của Công ty Luật TNHH Một thành
						viên Vân Hoàng Minh tại Thành phố Hồ Chí Minh.

						Luật sư có hơn 16 năm kinh nghiệm trong các lĩnh vực Doanh nghiệp, M&A, Hôn nhân & Gia đình,
						Di chúc - Thừa kế, Dân sự, Hình sự, Lao động - Bảo hiểm xã hội, Đầu tư,...</p>
					<div class="phan-hoi-item-star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="phan-hoi-item" data-aos="fade-down" data-aos-duration="1500"> 
					<div class="phan-hoi-item-content">
						<div class="phan-hoi-item-img-content-text">
							<h2>Nguyễn Minh Tường</h2>
							<p>Thư Ký</p>
						</div>
						<div class="phan-hoi-item-img-content-img">
							<a href="diep.html"><img src="/assets/images/tuong.jpg" alt=""></a>
						</div>
					</div>
					<p>Thạc sĩ - Luật sư Nguyễn Ngọc Diệp với trên 10 năm kinh nghiệm trong lĩnh vực tư vấn kiểm
						soát pháp lý Doanh nghiệp và tư vấn Đầu tư, thực hiện thủ tục đầu tư các dự án
						tại Việt Nam.
						Là kiểm soát pháp lý chính và tư vấn cho các dự án Khu công nghiệp Cẩm Mỹ, dự án Khu du
						lịch cáp treo Núi Sam, Dự án khu Đô thị Hồng Đức,...và Là cố vấn pháp lý thường
						xuyên của các Tập đoàn đầu tư vốn nước ngoài tại Việt Nam như Ferdon INC (Mỹ),
						Lee&Man (Hongkong), Ayerawady (Singapore),..</p>
					<div class="phan-hoi-item-star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
				<div class="phan-hoi-item" data-aos="fade-left" data-aos-duration="1500">
					<div class="phan-hoi-item-content">
						<div class="phan-hoi-item-img-content-text">
							<h2>Huỳnh Trọng Nghĩa</h2>
							<span>Quản Lý</span>
						</div>
						<div class="phan-hoi-item-img-content-img">
							<a href="vinh.html"><img src="/assets/images/nghia.jpg" alt=""></a>
						</div>
					</div>
					<p>Luật sư Bùi Thế Vinh là Trưởng Văn phòng luật sư Thái Minh/ Đoàn luật sư tp Hà Nội; luật sư
						có 31 năm kinh nghiệm trong các lĩnh vực Hình sự, Dân sự, Hành chính; là luật sư chuyên
						nghiệp hoạt động tranh tụng tại các cấp tòa.

						Phương châm làm việc của Luật sư Bùi Thế Vinh là: TRÁCH NHIỆM- SÁNG TẠO- HIỆU QUẢ </p>
					<div class="phan-hoi-item-star">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr  width="100%" size="10px" align="center" />

<section class="app-container">
	<p>Trang Shop thời trang liên quan</p>
	<div class="app-google">
		<img src="/assets/images/fb.png">
		<img src="/assets/images/Instagram.jpg">
	</div>
	<p>Nhận bản tin Shop</p>
	<input type="text" placeholder="Nhập email của bạn.....">
</section>
<div class="footer-top">
	<li><a href=""><img src="/assets/images/bct.png"></a></li>
	<li><a href=""></a>Liên Hệ</li>
	<li><a href=""></a>Tuyện dụng</li>
	<li><a href=""></a>Giới thiệu</li>
	<li>
		<a href="" class="fab fa-facebook-f"></a>
		<a href="" class="fab fa-twitter"></a>
		<a href="" class="fab fa-youtube"></a>
	</li>
</div>
<div class="footer-center">
	<p>Công Ty cổ Phần Dự Kim với số đăng ký kinh doanh: 0105777650<br>
	Địa chỉ đăng ký: Trần Nam Phú, P.Xuân Khánh, Q.Ninh Kiều, TP.Cần Thơ, Việt Nam - 0945518212<br>
	Đặt hàng online: <b>0945 518 212</b>
</p>
</div>
<div class="footer-bottom">
	@Shop MFT All right reserved
</div>
</main>
</body>
</html>
